<!-- practise template -->
{% load static %}
{% static "images" as baseUrls %}
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
</head>

<body style="background-color:	#F8F4F4  ;">

<!-- Field 1 -->

<div>
<div style="width: 1350px; height:282px; background-image: url('static/image/newimg.jpg');"><br><br>
<div style="width: 80px; padding-left:10%;">
<div style="width: 1050px; height: 50px; background-color: white; padding-left:100%; ">
<ul style="width: 1050px; align="left";" class="nav justify-content-end" ><br>
<h2><p style="width: 500px;">CORPORATE</p></h2>
  <li class="nav-item">
    <u><a class="nav-link active" href="#" style="color: black;">Home</a></u>
  </li>
  
  <li class="nav-item" style="border-left: 1px solid #EAF3F2; height: 50px;">  <!--color = #EAF3F2 for lines-->
    <a class="nav-link" href="#" style="color: black;">About</a>
  </li>
  <li class="nav-item" style="border-left: 1px solid #EAF3F2; height: 50px;">
    <a class="nav-link" href="#" style="color: black;">Services</a>
  </li>
  <li class="nav-item" style="border-left: 1px solid #EAF3F2; height: 50px;">
    <a class="nav-link" href="#" style="color: black;">Solutions</a>
  </li>
  <li class="nav-item" style="border-left: 1px solid #EAF3F2; height: 50px;">
    <a class="nav-link" href="#" style="color: black;">Products</a>
  </li>
  <li class="nav-item" style="border-left: 1px solid #EAF3F2; height: 50px;">
    <a class="nav-link" href="#" style="color: black;">Contact</a>
  </li>
</ul>
</div>
</div>
</div>
</div>

<!-- Field 2 -->

<div>
<h2><p style="width: 1350px; height: 39" align="center">SERVICES </p></h2>
<p style="width: 1320px;" align="center">Below are the services we are providing</P>
</div>

<!-- Field 3 -->

<div>
<div style="width: 1200px;">
<table style="height: 107px; font-size: 11px; width: 10;" border="0">
<tbody>
<td style="padding-left: 302px;" align="center" valign="top"><a href="#"> <img src="static/image/facebook.png" alt="" width="70" height="70"></a>
<p style="width: 140px;" align="center"><strong> <a href="#" style="text-decoration: none; color: black;">Facebook</a> <br></strong></p>
<p style="width: 140px;">Facebook is most famous no need of explanation.</p>
</td>
<td align="center" style="width: 1500;" valign="top"><a href="#"><img src="static/image/youtube.png" alt="" width="70" height="70"></a>
<p style="width: 140px;" align="center"><strong><a href="" style="text-decoration: none; color: black;" target="_blank">Youtube</a></strong></p>
<p style="width: 155px;">We create our own content like funny videos, Short films, webseries etc.,</p>
</td>
<td align="center" valign="top"><a href="#"><img src="static/image/twitter.png" alt="" width="70" height="70"></a>
<p style="width: 155px;" align="center"><strong><a href="#" style="text-decoration: none; color: black;">Twitter</a> <a href="#"><br></a> </strong></p>
<p style="width: 140px;">Twitter will be used by Celebrities. So, don't waste time follow them and know updates.</p>
</td>
<td style="padding-right: 152px;" align="center" valign="top"><a href="#"><img src="static/image/instagram.png" alt="" width="70" height="70"></a>
<p style="width: 140px; vertical-align: top;" align="center"><strong><a href="#" style="text-decoration: none; color: black;">Instagram</a></strong></p>
<p style="width: 160px;">Create account and enjoy with your followers.</p>
</td>
</tbody>
</table>
</div>
</div>

<br>

<!-- Field 4 -->

<div class="bd-callout bd-callout-info" style="background-color: #698B87;">
<table style="height: 30px; font-size: 11px; width: 680;" border="0">
<tbody>
<tr style="height: 40px;" valign="middle">
<br>
<p style="width: 1350px; color: white;" align="center">Who we are</p>
<p style="width: 1200px; color: white;" align="center">Here we will entertain you by our latest funny videos, movie news, film news etc.,</P>
<p style="width: 1350px;" align="center"><a href="#"><button type="button" class="btn btn-secondary btn-lg">Know more about us</button></a></p>
</tr>
</tbody>
</table>
</div>

<br>

<!-- Field 5 -->

<div>
<table style="height: 120px; font-size: 11px; width: 680;" border="0">
<tbody>
<tr style="height: 80px;" valign="middle">
<td style="padding-left: 402px;" align="center" valign="top"><a href="#"></a>
<p style="width: 140px;" align="center"><strong> <a href="#" style="text-decoration: none; color: black;">Planning</a> <br></strong></p>
<p style="width: 140px;">Here we plan according to public interest and our group will decide to, what to do and what not to do.</p>
</td>
<td align="center" valign="top"><a href="#"></a>
<p style="width: 140px;" align="center"><strong><a href="#" style="text-decoration: none; color: black;">Management</a></strong></p>
<p style="width: 155px;">Those who are interested in working with us you can meet our management.</p>
</td>
<td align="center" valign="top"><a href="#"></a>
<p style="width: 155px;" align="center"><strong><a href="#" style="text-decoration: none; color: black;">Solutions</a></strong></p>
<p style="width: 140px;">If you need any guidence or you have any career doubts we give you solutions</p>
</td>
</tr>
</tbody>
</table>
</div>

</body>
</html>

